<br>
<div class="row">
	<form method="POST" action="/events/event/<%=event.id%>/?_method=PUT">
		<div class="row">
			<div class="col s9 input-field">
				<label>event name</label>
				<input type="text" name="name" value="<%= event.name %>">
			</div>
			<div class="col s3 input-field">
				<label></label>
				<input type="date" name="date" value="<%=event.date %>">
			</div>
		</div>
		<div class="row">
			<div class="col s12 input-text">
				<label>description</label>
				<input type="text" name="desc" value="<%= event.desc %>">
			</div>
		</div>
		<div class="row">
			<div class="col s3 input-field">
				<button class="waves-effect waves-light btn" type="submit" name="action">update event description<i class="material-icons right">add</i>
				</button>
			</div>
		</div>
	</form>
</div>

<h5>"Ask"!</h5>
<p>An "ask" is anything you would like people to contribute to your event, whether that's a favorite recipe, an invitation to coffee, or help with household tasks. To make such a request, fill out this form:</p>

<div class="row">
	<form method="POST" action="/events/ask">
		<div class="row">
			<div class="col s4 input-field">
				<label>ask name</label>
				<input type="text" name="name" placehold="name">
			</div>
		</div>
		<div class="row">
			<div class="col s12 input-text">
				<label>description</label>
				<input type="text" name="desc" placeholder="description">
			</div>
		</div>
		<div class="row">
			<div class="col s3 input-field">
				<input type="hidden" name="eventID" value="<%= event.id %>">
				<button class="waves-effect waves-light btn" type="submit" name="action">add this "ask"<i class="material-icons right">add</i>
				</button>
			</div>
		</div>
	</form>
</div>

<p>You can also ask people to give a gift to a charitable organization in acknowledgement of your event. Below, you can click "charity database" to search through the Charity Navigator site of charitable organizations in the U.S. Or you can also click "popular charities" to see what organizations other Give Registry users have picked for their events.</p>

<div class="row">
	<div class="col s6">
		<form method="GET" action="/charities/charity-search" >
			<button class="waves-effect waves-light btn" type="submit" name="action">go to charity search page</button>
		</form>
	</div>
	<div class="col s6">
		<form method="GET" action="/charities/charities" >
			<button class="waves-effect waves-light btn" type="submit" name="action">see popular charities</button>
		</form>
	</div>
</div>


