<br><h4>sign up</h4> <br>

<div class="row">
	<form action="/auth/signup" method="POST">
		<div class="row">
			<div class="col s6 input-field">
				<label>first name</label>
				<input type="text" name="firstname" placeholder="your first name " value="<%= previousData ? previousData.firstname : '' %>">
			</div>
			<div class="col s6 input-field">
				<label>last name</label>
				<input type="text" name="lastname" placeholder="your last name" value="<%= previousData ? previousData.lastname : '' %>">
			</div>
		</div>
		<div class="row">
			<div class="col s6 input-field">
				<label>email</label>
				<input type="text" name="email" placeholder="your email" value="<%= previousData ? previousData.email : '' %>">
			</div>
		</div>
		<div class="row">
			<div class="col s12 input-text">
				<label>a word about who you are</label>
				<input type="text" name="bio" placeholder="tell us a little (or a lot) about yourself" value="<%= previousData ? previousData.bio : '' %>">
			</div>
		</div>
		<div class="row">
			<div class="col s6 input-field">
				<label>password</label>
				<input type="text" name="password" placeholder="your password" value="<%= previousData ? previousData.password : '' %>">
			</div>
			<div class="col s6 input-field">
				<label>re-enter password</label>
				<input type="text" name="password_verify" placeholder="your password again" value="<%= previousData ? previousData.password_verify : '' %>">
			</div>
		</div>
		
		<div class="row">
			<div class="col s12 input-field">
				<button class="waves-effect waves-light btn" type="submit" name="action">sign up<i class="material-icons right">add</i>
				</button>
			</div>
		</div>
	</form>
</div>

