<br><h4><%= user.firstname %> <%= user.lastname %>: Edit profile</h4>

<div class="row">
	<form method="POST" action="/profile/profile-edit/<%=user.id%>/?_method=PUT">
		<div class="row">
			<div class="col s6 input-field">
				<label>first name</label>
				<input type="text" name="firstname" value="<%=user.firstname %>" placeholder="<%= user.firstname %>">
			</div>
			<div class="col s6 input-field">
				<label>last name</label>
				<input type="text" name="lastname" value="<%=user.lastname %>"placeholder="<%= user.lastname %>">
			</div>
		</div>
		<div class="row">
			<div class="col s12 input-text">
				<label>bio</label>
				<input type="text" name="bio" value="<%= user.bio %>" placeholder="<%= user.bio %>">
			</div>
		</div>
		<div class="row">
			<div class="col s3">
				<button class="waves-effect waves-light btn" type="submit" name="action">submit<i class="material-icons right">add</i>
				</button>
			</div>
		</div>
	</form>
</div>
<br><br><hr>
<div class="row">
	<div class="col s4">
		<h5>Delete profile</h5>
		<p>Warning: action cannot be undone</p>
	</div>
	<div class="col s4">
		<br><br>

		<form method="POST" action="/profile/<%=user.id%>/?_method=DELETE">
			<input type="hidden" name="id" value="<%=user.id%>">
			<button class="waves-effect waves-light btn" type="submit" name="action">delete account<i class="material-icons right">subtract</i>
			</button>
		</form>
	</div>
</div>