<!-- to do: input form needs to record data to local charities table, create an ask for the chartity that's linked to the event. and then take user back to the event page? -->
<br>
<div class="row">
	<div class="col s6">
		<h5><%=foundCharity.charityName %></h5>
		<p><%=foundCharity.tagLine %></p>
		<a href="<%=foundCharity.websiteURL %>"><%=foundCharity.websiteURL %></a>
	</div>
	<div class="col s6">
		<form action="/charity/charity-detail" method="POST">
			<div class="row">
				<div class="col s6 input-field">
					<input type="hidden" name="foundCharity" value="<%=JSON.stringify(foundCharity)%>">					
					<button class="waves-effect waves-light btn" type="submit">add to my ask</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col 12">
		<%if(foundCharity.currentRating){%>
			<p><span class="bold">Current Rating:  </span><img src="<%=foundCharity.currentRating.ratingImage.large %>"></p>   
			<p><span class="bold">Score:  <%=foundCharity.currentRating.score %></span> (out of a possible 100)</p>
		<%}%>

		<%if(foundCharity.category){%>
			<p><span class="bold">category:</span> <%=foundCharity.category.categoryName %></p>
		<%}%>

		<%if(foundCharity.cause){%>
			<p><span class="bold">cause:</span> <%=foundCharity.cause.causeName %> </p>
		<%}%>

		<p><span class="bold">mission statement:</span> <%=foundCharity.mission %></p>

	
	<%if(foundCharity.mailingAddress){%>
			<p class="bold">Mailing address: <%=foundCharity.mailingAddress.streetAddress1 %></p>
			<p><%=foundCharity.mailingAddress.streetAddress2 %></p>
			<p><%=foundCharity.mailingAddress.city %>, <%=foundCharity.mailingAddress.stateOrProvince %>  <%=foundCharity.mailingAddress.postalCode %></p>
			<br>
	<%}%>
	
	<%if(foundCharity.donationAddress){%>
			<p class="bold">Donation address:</p>
			<p><%=foundCharity.donationAddress.streetAddress1 %></p>
			<p><%=foundCharity.donationAddress.streetAddress2 %></p>
			<p><%=foundCharity.donationAddress.city %>, <%=foundCharity.donationAddress.stateOrProvince %>  <%=foundCharity.donationAddress.postalCode %></p>
			<br>
		
	<%}%>

	<%if(foundCharity.irsClassification){%>
			<p><span class="bold">tax ID (EIN)#: </span><%=foundCharity.ein %></p>
			<p><span class="bold">IRS subsection: </span><%=foundCharity.irsClassification.subsection %></p>
			<p><span class="bold">deductibility: </span><%=foundCharity.irsClassification.deductibility %></p>
			<br>
	<%}%>


		<p>learn more at Charity Navigator: <a href="<%=foundCharity.charityNavigatorURL %>"><%=foundCharity.charityName %></a></p>

	</div>
</div>




