<br><h4>Hello, <%= user.firstname %>!</h4>

	<div class="row">
		<ul>
		<li><p><span class="bold">full name:  </span><%= user.firstname %> <%= user.lastname %></p></li>
		<li><p><span class="bold">email:  </span><%= user.email %> </p></li>
		<li><p><span class="bold">bio:  </span><%= user.bio %> </p></li>
		</ul>		
	</div>
	<div class="col s9">	
</div>

<form method="POST" action="/profile/<%=user.id%>/?_method=DELETE">
	<div class="row">
		<div class="col s12 input-field">
			<input hidden type="text" name="id" value="<%=user.id%>">
			<button class="waves-effect waves-light btn" type="submit" name="action">delete account<i class="material-icons right">subtract</i>
			</button>
		</div>
	</div>
</form>
