<br><h4>Hello, <%= user.firstname %>!</h4>

<div class="row">
	<div class="col s8">
		<ul>
			<li><p><span class="bold">full name:  </span><%= user.firstname %> <%= user.lastname %></p></li>
			<li><p><span class="bold">email:  </span><%= user.email %> </p></li>
			<li><p><span class="bold">bio:  </span><%= user.bio %> </p></li>
		</ul>	
	</div>	
	<div class="col s4">	
		<br>
		<form method="GET" action="/profile/profile-edit/<%=user.id%>">
			<div class="row">
				<div class="col s6">
					<input type="hidden" name="id" value="<%=user.id %>">
					<button class="waves-effect waves-light btn" type="submit">edit&nbsp;profile</button>
				</div>
			</div>
		</form>
	</div> 
</div>
<div class="row">
	<hr>
	<h5>Events you've already set up:</h5>
	<% foundEvents.forEach(function(event){ %>
		<div class="row">
			<div class="col s8">
				<p><span  class="bold"><%= event.dataValues.name %></span>
					<% if(event.dataValues.date){ %>
						<% var d = event.dataValues.date %>
						<% d = d.toDateString(); %>
						  (<%= d %>)
				<% } %> 
				</p>
				<p><%= event.dataValues.desc %> </p>
			</div>
			<div class="col s4">
				<br>
				<form method="GET" action="/events/event/<%=event.dataValues.id%>">
					<input type="hidden" name="username" value="<%= user.firstname %> <%= user.lastname %>">
					<button type="submit" class="waves-effect waves-light btn">go to event page</button>
				</form>
			</div>
		</div>
	<% }) %>
</div> <!-- end row -->

<hr>
<h5>Start a new event</h5>
<form method="POST" action="/events/event/:id">
	<div class="row">
		<div class="col s6 input-field">
			<label>event name</label>
			<input type="text" name="name" placeholder="your event name">
		</div>
		<div class="col s3 input-field">
			<label>date of event (optional)</label>
			<input type="date" name="date" placeholder="date of event">
		</div>
	</div>
	<div class="row">
		<div class="col s9 input-text">
			<label>event decription</label>
			<input type="text" name="desc" placeholder="describe your event">
		</div>
	</div>
	<input type="hidden" name="userId" value=req.body.id>
	<div class="col s6">
		<input type="hidden" name="id" value="<%=user.id%>">
		<button class="waves-effect waves-light btn" type="submit" name="action">start an event!<i class="material-icons right">add</i>
		</button>
	</div>
</form>
